{% extends 'base.html' %}
    {% block content %}
      <div class="container">
        <p class="alert alert-success text-center">Add Task</p>
            <form method="POST" class="my-2">
                <div class="mb-3">
                  <label for="text" class="form-label">Task Name</label>
                  <input type="text" class="form-control" name="title" value="name" id="text" required>
                </div>
                <div class="mb-3">
                  <label for="text" class="form-label">Description</label>
                  <textarea class="form-control" name="excerpt"  value="excerpt" id="floatingTextarea2" style="height: 100px" required>{{task_desc.excerpt}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>

  {% endblock %}